php_value include_path  ".;d:\wamp64\www\sadaf\www\shares;d:\wamp64\www\sadaf\www\adodb"
php_value short_open_tag "On"
php_value error_reporting "On"
php_value display_errors "On"
php_value default_charset   "utf-8"
php_value session.save_handler  "files"
php_value session.gc_maxlifetime  "1800"



